<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/register">
      <input type="text" name="name" placeholder="Enter yr name" />
      <input type="email" name="email" placeholder="Enter yr email" />
      <input type="password" name="password" placeholder="Enter the password" />
      <button type="submit">Signup</button>
    </form>
  </body>
</html>
